using System.Net;
using System.Net.Http.Headers;
using SDK = DocuWare.Platform.ServerClient;

namespace DocuWare.Platform.ServerClient.Abstracts
{
    public class RealDocuWare() : IDocuWare
    {{0}
    }
}

